<div class="home-main-container">
    <div class="banner-image" id="banner">
        <div class="banner-text">
            <div class="title-block">
                <span>Modernisez</span>
                <span>votre expérience agricole.</span>
            </div>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
                illo inventore veritatis et quasi architecto.
            </p>
            <div class="banner-action">
                <app-button [styles]="{backgroundColor:'#FFF', color:'#55AAA0', border:'1px solid #55AAA0'}" libelle="Contacter-nous"></app-button>
                <app-button [style]="{paddingLeft:'1rem'}" libelle="Prendre rendez-vous"></app-button>

            </div>
        </div>
        <div class="banner-video" id="vid">
            <video src="./../../assets/video/video1.mp4"  type="video/mp4" controls loop muted>
            
            </video>
        </div>

    </div>
    
    <div class="sub-bg"></div>
    <div class="apropos-block">
      <span class="apropos-block-bub">Notre Vision</span>
      <div class="apropos-block-info">
        <div class="apropos-block-image"></div>
       
            <div class="apropos-block-text">
                <span class="text-element">
                    Chez JooL International, nous envisageons un avenir où 
                    l’agriculture africaine prospère, propulsée par une technologie 
                    de pointe et un engagement en faveur de l’autonomisation. 
                </span>
                <span class="text-element">
                Imaginez 
                    un continent où les agriculteurs ne sont pas vulnérables aux conditions
                     météorologiques imprévisibles, à la dégradation des sols ou aux maladies 
                     destructrices détectées trop tard.

                </span>
                    <span class="text-element">
                        Fini le temps où l’on s’appuyait sur des
                        outils obsolètes et vieillissants. Au lieu de cela, les agriculteurs sont 
                        équipés d’un puissant mélange de sagesse à l’ancienne et de 
                      technologie de pointe de JooL, leur permettant de surmonter 
                      tous les défis et de cultiver le succès.

                    </span>

                
            </div>
           
            
        
      </div>
    </div>

    <div class="Nos-solution-block">
        <div class="solution-title">
            <span>Nos Solutions</span>
        </div>

        <div class="monitor">
            <app-new-jool-solution-item solution="monitor"></app-new-jool-solution-item>
        </div>
        <div class="jool-id">
            <app-new-jool-solution-item solution="joolSpray"></app-new-jool-solution-item>
        </div>
        <div class="jool-spray">
            <app-new-jool-solution-item solution="joolId"></app-new-jool-solution-item>
        </div>

    </div>
    <div class="world-choice">
        <app-agronomists-choice></app-agronomists-choice>
    </div>




    <!-- <div class="products-and-services">
        <span class="apropos-block-title">Nos produits et services</span>
        <span class="apropos-block-bub">Une expertise au service de l’agriculture</span>
        <div class="products-images">
            <div class="block1">

                <div class="item-block1" >
                    <div class="item-bg" [style.backgroundImage]="'url(./../../assets/SVG/spray-link.png)'">
                        <div class="default-content">
                            <span class="default-content-title">JooL Monitor</span>
                            <span class="default-content-title-desc">Le logiciel qui vous rapproche de votre plantation.</span>
                            <div class="moreBtn">
                                <app-button libelle="En savoir plus" [styles]="{paddingLeft:'2rem', paddingRight:'2rem'}"></app-button>
                            </div>
                        </div>
                     <div class="glass-bg">
                        <div class="border-eye">
                            <img src="./../../assets/img/oeil.png">
                        </div>
                    </div> 
                    </div>
                </div>
                <div class="item-block1" >
                    <div class="item-bg" [style.backgroundImage]="'url(./../../assets/SVG/monitor-link.png)'">
                        <div class="default-content">
                            <span class="default-content-title">JooL Spray</span>
                            <span class="default-content-title-desc">Pulvériser votre plantation devient un jeu d’enfants.</span>
                            <div class="moreBtn">
                                <app-button libelle="En savoir plus" [styles]="{paddingLeft:'2rem', paddingRight:'2rem'}"></app-button>
                               </div>

                        </div>
                     <div class="glass-bg">
                        <div class="border-eye">
                            <img src="./../../assets/img/oeil.png">
                        </div>
                    </div> 
                    </div>
                </div>

            
            </div>
            <div class="block2">
                <div class="item-block2">
                    <div class="item-bg" [style.backgroundImage]="'url(./../../assets/SVG/academy-link.png)'">
                        <div class="default-content">
                            <span class="default-content-title-acdemy">JooL Academy</span>
                            <span class="default-content-title-desc">Formez-vous aux métiers du drone et devenez un professionnel de l’agriculture de précision.</span>
                            <div class="moreBtn">
                            <app-button libelle="En savoir plus" [styles]="{paddingLeft:'2rem', paddingRight:'2rem'}"></app-button>
                           </div>
                        </div>
                   <div class="glass-bg">
                        <div class="border-eye">
                            <img src="./../../assets/img/oeil.png">
                        </div>
                    </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div> -->
    <div class="patnaire-block">
        <app-patnaire></app-patnaire>
    </div>
    <div class="blog-container">
        <span class="blog-container-title">Notre Blog</span>
        <span class="blog-container-title-sub">L'actu Jool</span>
        <div class="blog-block">
            <app-blog-card 
            urlImages="./../../assets/SVG/blog-formation.png" 
            title="Formation"
            description="Le pilotage de drone se présente comme un métier d'avenir. Même..."
            moreButton="Lire l'article"
            >
        </app-blog-card>
            <app-blog-card 
            urlImages="./../../assets/SVG/blog-enjeu.png" 
            title="Enjeux"
            description="L’Afrique représente à elle seule 30% des terres arables du globe ter..."
            moreButton="Lire l'article"
            ></app-blog-card>
            <app-blog-card 
            urlImages="./../../assets/SVG/blog-amelioration.png" 
            title="Améliorations"
            description="La connaissance des données exactes de sa plantation est essen..."
            moreButton="Lire l'article"
            ></app-blog-card>
        </div>
        <app-button libelle="Notre blog" [styles]="{paddingLeft:'1rem', paddingRight:'1rem', fontSize:'1.1rem'}"></app-button>

    </div>
    <div class="up-container" (click)="scrollUp()">
        <span class="upp">up</span>
    </div>

</div>
