
    span.button-style {
        background: #55AAA0;
    color: #FFF;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    display: flex;
    }
    .icon-btn span {
        color: #55AAA0;
        font-size: 0.8rem;
        padding: 0.5rem 0.3rem 0.5rem 1rem;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    .icon-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFF;
        border-radius: 0.2rem;
        padding-right: 1rem;
    }

