<ng-container *ngIf="solution==='monitor'">
<div class="container">
    <div class="info">
        <span class="title">JooL Monitor</span>
        <span class="sub-title">Notre logiciel 100% made in Côte d'Ivoire</span>
        <div class="p-block">
            <p>
                Une plateforme ergonomique, intuitive et propriétaire experte dans le traitement
                de données agricoles collectées par drone.
            </p>
            <p>
                Elle permet de délimiter
                les parcelles agricoles, compter les plants, obtenir une vue du ciel
                des exploitations et analyser la santé des plantes.
            </p>
            <p>
                Elle permet à des
                propriétaires de plantations vivant loin de leur champ de suivre les
                activités à distance, mais aussi aux agronomes de réinventer leur travail en
                le rendant plus précis et moins fastidieux.
            </p>
        </div>
        <div class="actions-block">
            <div class="btn">
                <app-button libelle="En savoir plus"></app-button>
            </div>
            <div class="btn">
                <app-button libelle="Demander un devis"></app-button>
            </div>
        </div>
    </div>
    <div class="image-illustration"></div>
</div>
</ng-container>
<ng-container *ngIf="solution==='joolSpray'">
<div class="container">
    <div class="image-illustration-spray"></div>
    <div class="info">
        <span class="title">JooL Spray</span>
        <span class="sub-title">Notre service de pulvérisation de reproduits phytosanitaires par drone</span>
        <div class="p-block">
            <p>
                Notre service de pulvérisation de produits phytosanitaires par drone pour offrir a nos 
                clients une pulvérisation plus rapide, plus éfficace et plus précise.
            </p>
            <p>
              Le produit est pulvérisé de manière uniforme sur la parcelle sans exposer le pilote, et l'agriculteur.
            </p>
           
        </div>
        <div class="actions-block">
            <div class="btn">
                <app-button libelle="En savoir plus"></app-button>
            </div>
            <div class="btn">
                <app-button libelle="Demander un devis"></app-button>
            </div>
        </div>
    </div>
   
</div>
</ng-container>
<ng-container *ngIf="solution === 'joolId'">

<div class="container">
    
    <div class="info">
        <span class="title">JooL ID</span>
        <span class="sub-title">Notre service d'identification de planteurs et de plantations</span>
        <div class="p-block">
            <p>
                Notre service de pulvérisation de produits phytosanitaires par drone pour offrir a nos 
                clients une pulvérisation plus rapide, plus éfficace et plus précise.
            </p>
            <p>
              Le produit est pulvérisé de manière uniforme sur la parcelle sans exposer le pilote, et l'agriculteur.
            </p>
           
        </div>
        <div class="actions-block">
            <div class="btn">
                <app-button libelle="En savoir plus"></app-button>
            </div>
            <div class="btn">
                <app-button libelle="Demander un devis"></app-button>
            </div>
        </div>
    </div>
    <div class="image-illustration-jool-id"></div>

</div>
</ng-container>