<div class="main-about">
    <div class="sub-bg"></div>

    <div class="head-block">
        <span class="about-title">À propos</span>
        <span class="about-title-sub">Nous réinventons votre expérience de l’agriculture.</span>
    </div>
    <div class="about-head-image">
    </div>

    <div class="presentation-block">
        <div class="presentation-text">
            <div class="global-content">
            <div class="presentation-text-title">
                <span>Présentation</span>
                <div class="barre"></div>
            </div>
            <p class="presentation-P1">
                <span class="firt-word">JooL International</span> est une startup ivoirienne qui travaille à créer
                 un écosystème favorable au développement de l’agriculture de précision
                  en Afrique. Nous valorisons le potentiel des plantations africaines grâce
                   à la technologie des drones avec pour but de maximiser leurs rendements.
                    Notre équipe de professionnels met à votre disposition trois produits pour
                     répondre à vos besoins : <span class="important-word">JooL Monitor, JooL Spray </span>et <span class="important-word">JooL Academy</span>.
            </p>
            <p class="presentation-P2">
                L’agriculture constitue une part importante du produit intérieur brut (PIB)
                 des pays africains. Cependant une grande majorité des investissements du secteur
                  sont ralentis par un manque de visibilité ou un manque de performance.
            </p>
        </div>
        </div>
        <div class="presentation-image"></div>
    </div>

    <div class="Success-block">
        <div class="success-text-title">
            <div class="success-text-title-content">
            <span>Success story</span>
            <div class="barre"></div>
        </div>
        </div>
        <div class="Success-block-image"></div>

    </div>
    <div class="Success-block-2">
        <div class="Success-block-image-2"></div>

    </div>

    <div class="our-value-container">
        
    </div>
</div>
