<main class="container">
    <div class="title-block">
        <span class="title">
            Découvrez pourquoi des milliers
        </span>
        <span class="title">
            d'agronomes choisissent JooL-International
        </span>
    </div>
   
    <div class="content-block">
    <div class="lottieblock">
        <ng-lottie
        [options]="options" >
        </ng-lottie>

    </div>
    <div class="numberStat">
        <div class="stat-item">
            <span class="stat">+10.000</span>
            <span class="sub-stat">HT traités</span>
        </div>
        <div class="stat-item">
            <span class="stat">+310.000</span>
            <span class="sub-stat">Planteurs identifiés</span>
        </div>
        <div class="stat-item">
            <span class="stat">+1.000</span>
            <span class="sub-stat">Zones couvertes</span>
        </div>
    </div>
</div>
</main>
